<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Welcome to {{ title }}!</h1>
      </div>
      <h2>Current Player: {{ gameState.currentPlayer }}</h2>
    </div>
  </div>
  <div>
    <h2>QBs</h2>
    <draft-pool-player-card *ngFor="let player of gameState.draftPool.qbs" [player]="player" [gameState]="gameState"></draft-pool-player-card>
    <h2>RBs</h2>
    <draft-pool-player-card *ngFor="let player of gameState.draftPool.rbs" [player]="player" [gameState]="gameState"></draft-pool-player-card>
    <h2>WRs</h2>
    <draft-pool-player-card *ngFor="let player of gameState.draftPool.wrs" [player]="player" [gameState]="gameState"></draft-pool-player-card>
    <h2>TEs</h2>
    <draft-pool-player-card *ngFor="let player of gameState.draftPool.tes" [player]="player" [gameState]="gameState"></draft-pool-player-card>

    <!-- A button that activates when the draft is finished, and calls the calculate score method -->
    <button (click)="calculateScores()">Calculate Score</button>
    
    <div class="rosters">
      <app-roster [gameState]="gameState"></app-roster>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
